<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/headerafterlogin %>
    <h1>Items for Sale</h1>
    <div class="container">
        <div class="row">
            <% itemList.forEach(function(itemList) { %>
            <div class="col-sm-6 col-md-4">
                <div data-id="<%= itemList.id%">
                    <!-- 
                        <img src="<%= itemList.imagePath%> alt="<%= itemList.imagePath%"> 
                    -->
                    <div class="caption">
                        <h4 class="category">
                            <%= itemList.category %>
                        </h4>
                        <p class="name">
                            <%= itemList.name %>
                        </p>
                        <p class="description">
                            <%= itemList.description %>
                        </p>
                        <div class="clearfix">
                            <div class="price pull-left">
                                <span> 
                                    $<%= itemList.price %>
                                </span>
                            </div>
                        </div>    
                        <p class="condition">
                            <%= itemList.condition %>
                        </p>  
                        <p class="quantity_left">
                                <%= itemList.quantity_left %>
                        </p>
                        <p class="seller_id">
                                <%= itemList.seller_id %>
                        </p>        
                        <div>
                            <button href="/transaction/<%= itemList.id%>" class="btn btn-success" role="button">Pay now <%= itemList.price%></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
            <% }); %>
    </div>        
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>