<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>
</head>

<body>
    <% include ../partials/headerafterlogin %>
        <h1>Items for Sale</h1>
        <div class="container">
            <div class="row">
                <% itemList.forEach(function(itemList) { %>
                   <!-- <% image.forEach(function(image){ %>-->
                        <a href="/item" class="individualitem">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail" data-id="<%= itemList.id%>">
                                    <img src="<%= image.imageName %>" class="figure-img img-fluid img-rounded" alt="<%= images.id %>">
                                    <div class="caption">
                                        <h4 class="category">
                                            <%= itemList.category %>
                                        </h4>
                                        <p class="name">
                                            <%= itemList.name %>
                                        </p>
                                        <p class="description">
                                            <%= itemList.description %>
                                        </p>
                                        <div class="clearfix">
                                            <div class="price pull-left">
                                                <span>
                                                    $
                                                    <%= itemList.price %>
                                                </span>
                                            </div>
                                        </div>
                                        </br>
                                        <p class="condition">
                                            <%= itemList.condition %>
                                        </p>
                                        <p class="quantity_left">
                                            <%= itemList.quantity_left %>
                                        </p>
                                        <p class="seller_id">
                                            <%= itemList.seller_id %>
                                        </p>
                                        <div>
                                            <a href="/transaction/<%= itemList.id%>" class="btn btn-success" role="button">Pay now $
                                                <%= itemList.price%>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- <% }); %> -->
                            <% }); %>
            </div>
        </div>
        <% include ../partials/footer %>
            <% include ../partials/javascript %>
</body>

</html>