<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>

        <!--Copy pasted from the template-->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <% include ../partials/headerafterlogin %>
        <div class="single-product-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-sidebar">
                            <h2 class="sidebar-title">Search Products</h2>
                            <form action="">
                                <input type="text" placeholder="Search products...">
                                <input type="submit" value="Search">
                            </form>
                        </div>
                    </div>
                    <% itemList.forEach(function(itemList) { %>
                    <div class="col-md-8">
                        <div class="product-content-right">
                            <div class="product-breadcroumb">
                                <a href="/">Home</a>
                                <a href=""><%= itemList.category %></a>
                                <a href="/item"><%= itemList.name %></a>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="product-images">
                                        <div class="product-main-img">
                                            <img src="images/itemimages/nikefreern.webp" alt="">
                                        </div>

                                        
                                        <div class="product-gallery">
                                            <img src="images/itemimages/nikefreern2.webp" alt="">
                                            <img src="images/itemimages/nikefreern3.webp" alt="">
                                            <img src="images/itemimages/nikefreern4.webp" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="product-inner">
                                        <h2 class="product-name"><%= itemList.name %></h2>
                                        <div class="product-inner-price">
                                            <ins>$<%= itemList.price %></ins>
                                            <!-- For discount do this: <del>$800.00</del> -->
                                        </div>

                                        <div class="product-inner-category">
                                            <p style="color: lightskyblue">Category: <%= itemList.category %> </p>
                                        </div>

                                        <div>
                                            <button style="height:50px; width:150px ;color: #fff; background-color: #d2232a; border-color: #d2232a; font-weight: 400; text-align: center; font-family:Arial, Helvetica, sans-serif" href"./server/views/pages/chatMsg.ejs">Chat with buyer</button>
                                        </div>
                                        <br>
                                        <div role="tabpanel">
                                            <ul class="product-tab" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a>
                                                </li>
                                                <li role="presentation">
                                                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                    <h2>Product Description</h2>
                                                    <p><%= itemList.description %></p>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                                    <h2>Reviews</h2>
                                                    <div class="submit-review">
                                                        <p>
                                                            <label for="name">Name</label>
                                                            <input name="name" type="text">
                                                        </p>
                                                        <p>
                                                            <label for="email">Email</label>
                                                            <input name="email" type="email">
                                                        </p>
                                                        <div class="rating-chooser">
                                                            <p>Your rating</p>

                                                            <div class="rating-wrap-post">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            <label for="review">Your review</label>
                                                            <textarea name="review" id="" cols="30" rows="10"></textarea>
                                                        </p>
                                                        <p>
                                                            <input type="submit" value="Submit">
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
        <% include ../partials/javascript %>
</body>

</html>