<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/headerafterlogin %>
    <div class="container">
        <div class= "row">
            <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                <h1>Your Payments Details</h1>
                <form method = "get" action="">
        <% paymentList.forEach(function(payment) { %>
            <label name="intent">Intent:</label>
            <%= payment.intent %>
            <br><br>
            <label name="payment_method">Payment Method:</label>
            <%= payment.payment_method %>
            <br><br>
            <label name="payment_id">Payment ID:</label>
            <%= payment.payment_id %>
            <br><br>
            <label name="order_id">Order ID:</label>
            <%= payment.order_id %>
            <br><br>
            <label name="currency">Currency:</label>
            <%= payment.currency %>
            <br><br>
            <label name="quantity">Quantity:</label>
            <%= payment.quantity %>
            <br><br>
            <label name="description">Description:</label>
            <%= payment.description %>
            <br><br><br><br>
            <% }) %>
            <input type = "submit" value = "Buy">
    </form>
</div>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>