<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<style>
    body{
        width: 100%;
    }
    body > .box {
        padding-top: 30px;
        width: 45%;
        margin: auto;
        background-color: #E8E8E8;
        border: 1px solid black;
         }
    /* Style tab links */
    .tablink {
        background-color: white;
        color: black;;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 30px;
        width: 33%;
    }

    .tablink:hover {
        color: black;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: black;
        display: none;
        padding: 100px 20px;
        height: 100%;
        width: 75%;
    }

    /*style the tabs in profile.ejs*/
    .second{
        margin: auto;
        width: 80%;
    }
    .moveright1{
        padding-left: 30px;
    }
</style>
<body>
    <% include ../partials/headerafterlogin %>
            <br>
            <div class="box">
                    <div class="datails">
                        <div class="card text-xs-center">
                            <br>
                            <img id ="image" class="card-img-top" src="<%= avatar %>" alt="Card image cap">
                            <div class="card-block">
                                <p class="card-text">
                                    <strong>Name</strong>: <%= user.name %><br>
                                    <strong>Email</strong>: <%= user.email %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    <br>
    <div class="second">
        <button class="tablink" onclick="openPage('Listings', this, '#777;')" id="defaultOpen">Listings</button>

        <div id="Listings" class="tabcontent">
                <div class="row">
                    <% listings.forEach(function(listings){ %>
                        <div class="col-lg-4">
                            <figure class="figure">
                                <img src="images/<%= listings.imageName %>" class="figure-img img-fluid img-rounded" alt="<%= listings.imageName %>">
                                <figcaption class="figure-caption"><%= listings.title %></figcaption>
                                <small>Upload by: <%= listings.user_id %></small>
                            </figure>
                        </div>
                    <% }); %>
                </div>
            </div>
    </div>
    </div>
    
    <script>
    function openPage(pageName,elmnt,color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
    
    
            <% include ../partials/footer %>
            <% include ../partials/javascript %>
        </body>
        </html>