<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>
</head>

<body>
    <% include ../partials/headerafterlogin %>
        <div class="container">
            <div class="row">
                <div class="form-class">
                    <h1>Check Payment Details</h1>
                    <form action="/pay" method="post" id="transaction-form">
                        <div class="row">
                            <% for(var d = 0; d < detailsList.length; d++){ %>
                                <tr class="rowRecord" data-id="<%= detailsList[d].details_id %>">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label name="card-name">Card Holder Name:</label>
                                        <%= detailsList[d].name_on_card%>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label name="card-number">Credit Card Number:</label>
                                        <%= detailsList[d].card_number%>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label name="card-expiry-month">Expiration Month:</label>
                                                <%= detailsList[d].card_expiry_month%>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label name="card-expiry-year">Expiration Year:</label>
                                                <%= detailsList[d].card_expiry_year%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label name="card-cvc">CVV:</label>
                                        <%= detailsList[d].cvv_no%>
                                    </div>
                                </div>
                        </div>
                        </tr>
                        <button type="submit" class="btn btn-success">Buy now</button>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
            <% include ../partials/javascript %>
</body>