<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/headerafterlogin %>
    <div class="container">
        <div class="row">
            <div class="form-class">
            <h1>Check Payment Details</h1>
                <form action="/pay" method="post" id="transaction-form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label name="buyer_id">Buyer ID:</label>
                                <%= transaction.id%>       
                            </div>
                        </div>  
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label name="item-id">Item ID:</label>
                                <%= transaction.id%>
                            </div>
                        </div>  
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label name="item-name">Name of item:</label>
                                <%= transaction.name%>
                            </div>
                        </div> 
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label name="card-name">Card Holder Name:</label>
                                <%= transaction.name_on_card%>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label name="card-number">Credit Card Number:</label>
                                <%= transaction.card_number%>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label name="card-expiry-month">Expiration Month:</label>
                                        <%= transaction.card_expiry_month%>
                                    </div>
                                </div>  
                                <div class="col-xs-6">
                                    <div class="form-group">     
                                        <label name="card-expiry-year">Expiration Year:</label>
                                        <%= transaction.card_expiry_year%>   
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="col-xs-12">
                            <div class="form-group"> 
                                <label name="card-cvc">CVV:</label>
                                <%= transaction.cvv_no%>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group"> 
                                <label name="price">Price of item:</label>
                                $<%= transaction.price%>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Buy now</button>
                    <br><br>
                </form>
            </div>
        </div>    
    </div>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>    
